body {
	margin: 0;
}

/* div { border: 1px solid black;} this is a test*/
.theme {
	padding: 2%;
	background: #5af;
	font-family: arial;
	color: #fafafa;
}

#main {
	height: 200vh;
	background-color: #5ef;
	
}

#top-bar {
	font-size: 4em;
	
}

#add {
	padding: 0 2%;
	float: left;
}


#topText {
	text-align: center;
}





.fieldContainer{
margin-top: 2%;
	box-shadow: 5px 5px 10px darkblue;
/*	height: 100%;*/
	padding: 2%;
	font-size: 2em;
	
}

.removeButton {
	float: left;
	padding: 2% 5%;
	

}

.newField {
	height: 100%;
	font-size: 1.5em;
	border: none;
	resize: both;
	overflow: auto;
	padding: 2%;
	width: 80%; 
	
}



.div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}





	

	
